{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Рафаэль, мне 29 лет и я учусь на курсе Python-разработчик+
</p>
<p>
  Этот сайт, как и свою учебу, я посвящаю свой безгранично терпеливой и неизменно понимающей жене - Аделине. Без нее ничего бы не получилось.
</p>
<p>
  Учусь я для поднятия скилов и новых знаний в мире программирования. 
  Не могу сказать, что дается легко, но я стараюсь.

  С моими проектами можно ознакомиться на <a href="https://github.com/ZaripovRafael?tab=repositories"> GitHub</a>. Там, пока,
  мало чего интересного, но скоро это изменится.

  Так же вот <a href="https://ufa.hh.ru/resume/c5e2be2bff09cc3ec80039ed1f357371674d61"> ссылка</a> на резюме на HH, если вдруг 
  вам нужен человек в проект.
</p>
{% endblock %}